/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body{
  font-family: sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.bg-nav-header{
  background-color: #255EE9;
}

main section{
  padding: 50px 0;
}

.bg-section{
  background-color: lightgray;
}

header ul{
  list-style-type: none;
}
/* header */
header nav{
  padding-top: 20px;
}

nav .logo-header{
  align-items: center;
}

header .nav-menu-header{
  flex-basis: 50%;
  font-weight: bold;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

#login-header{
  justify-content: flex-end;
  align-items: center;
}

.button-login-header{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}


.bg-jumbotron-header{
  background-image: url(../img/jumbo.png);
  background-size: contain;
  padding: 80px 0;
}

.jumbotron-header{
  background-color: pink;
  margin: 50px auto;
  min-height: 400px;

}

/* main */
.large-column{
  background-color: cyan;
  flex-basis: 60%;
  min-height: 500px;
}

.small-column{
  background-color: pink;
  flex-basis: 40%;
  min-height: 500px;
}

.single-column{
  min-height: 900px;
  background-color: blueviolet;
}

/* footer */
#bg-footer>div{
  padding: 50px 0;
}

#bg-footer{
  background-color: #23272A;
}

.f-column-left{
  flex-basis: 30%;
  min-height: 500px;
  background-color: palevioletred;
}

.f-column-right{
  flex-basis: 70%;
  min-height: 500px;
  background-color: blue;
}

.f-subcolumn{
  flex-basis: 25%;
  border: 1px dashed white;
}

.f-final{
  background-color: aqua;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: gray;
  border: 1px solid black;

}

.button{
  background-color: gray;
  border: 1px solid black;
  padding: 5px;
}

/* utilities */
.d-flex{
  display: flex;
}

.fb-25{
  flex-basis: 25%;
}

.separator{
  border: 1px solid black;
  margin: 20px 0;
}

.border-dashed{
  border: 2px dashed black;
}