/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body{
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}

.bg-nav-header{
  background-color: #255EE9;
}

/* padding main */
main section{
  padding: 20vh 0;
}

.bg-section{
  background-color: lightgray;
}


/* ! header */
header nav{
  padding-top: 20px;
}

nav .logo-header{
  align-items: center;
}

header .nav-menu-header{
  flex-basis: 50%;
  font-weight: bold;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

#login-header{
  justify-content: flex-end;
  align-items: center;
}

.button.button-login-header{
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: white;
}

header ul{
  list-style-type: none;
}

header h1{
  font-size: 3.2rem;
}

header p{
  font-size: 1.25rem;
  margin-top: 35px;
  line-height: 30px;
}

.bg-jumbotron-header{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding: 80px 0;
}

.jumbotron-header{
  width: 40%;
  color: white;
  text-align: center;
  margin: 50px auto;
}

.jumbotron-header .buttons-jumbotron{
  margin: 40px;
}

.buttons-jumbotron .download-mac{
  background-color: white;
  margin-right: 15px;
  padding: 20px;
}

.buttons-jumbotron .open-in-browser{
  color: white;
  background-color: #23272A;
  padding: 20px;
}

/* ! main */
.large-column{
  flex-basis: 70%;
}

.small-column{
  flex-basis: 30%;
}

.single-column-text{
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.single-column img{
  width: 100%;
}

.final-part{
  text-align: center;
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.final-part h3{
  margin-bottom: 50px;
  font-size: 2rem;
}

.final-download{
  background-color: #8EA1E1;
  color: white;
}

/*! wave */
.wave{
  display: block;
  color: #D3D3D3;
}

.upside-down{
  transform: rotate(180deg);
}

/*! footer */

/* bg footer */
#bg-footer > div{
  padding-top: 100px;
}

#bg-footer{
  background-color: #23272A;
}

/** footer top */
.footer-top h3{
  font-size: 2rem;
  font-weight: 900;
  color: #7289DA;
}
/* footer column left */
.f-column-left{
  flex-basis: 30%;
  padding-bottom: 30px;
}

.select-lenguage{
  margin: 20px 0;
}

#italian-flag{
  width: 25px;
}

#lenguage{
  border: none;
  background-color: transparent;
  color: white;
}

.icons{
  color: white;
  font-size: 20px;
  gap: 20px;
}

/* footer column right */
.f-column-right{
  flex-basis: 70%;
  padding-bottom: 30px;
}

.f-subcolumn{
  flex-basis: 25%;
}

.f-subcolumn dt{
  color: #7289DA;
  font-weight: bold;
  padding-bottom: 10px;
}

.f-subcolumn dd{
  color: white;
  padding-bottom: 10px;

}

/** footer bottom */
.footer-bottom{
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
}

.sign-in{
  background-color: #8EA1E1;
  color: white;
}

/* utilities */
.d-flex{
  display: flex;
}

.fb-25{
  flex-basis: 25%;
}

.button{
  border-radius: 30px;
  padding: 15px;
}

.font-1_3{
  font-size: 1.3rem;
}

.section-paragraphs{
  font-size: 1.3rem;
  margin: 20px 0;
  line-height: 25px;
}

.section-title{
  font-size: 2.8rem;
}