/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body{
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}

.bg-nav-header{
  background-color: #255EE9;
}


main section{
  padding: 20vh 0;
}

.bg-section{
  background-color: lightgray;
}


/* ! header */
header nav{
  padding-top: 20px;
}

nav .logo-header{
  align-items: center;
}

header .nav-menu-header{
  flex-basis: 50%;
  font-weight: bold;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

#login-header{
  justify-content: flex-end;
  align-items: center;
}

.login-header{
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: white;
}

header ul{
  list-style-type: none;
}

header h1{
  font-size: 3.2rem;
}

header p{
  font-size: 1.25rem;
  margin-top: 35px;
  line-height: 30px;
}

.bg-jumbotron-header{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}

.jumbotron-header{
  width: 40%;
  color: white;
  text-align: center;
  margin: 50px auto;
  min-height: 350px;
}

.jumbotron-header .buttons-jumbotron{
  margin: 40px;
}

.buttons-jumbotron .download-mac{
  background-color: white;
  margin-right: 15px;
}

.buttons-jumbotron .open-in-browser{
  color: white;
  background-color: #23272A;
}

/* ! main */
.large-column{
  flex-basis: 70%;
  min-height: 500px;
}

.small-column{
  flex-basis: 30%;
  min-height: 500px;
}

.single-column{
  min-height: 900px;
  text-align: center;
}

.single-column-text{
  width: 85%;
  margin: 0 auto;
}

.single-column img{
  width: 100%;
}

/* !footer */
#bg-footer>div{
  padding: 50px 0;
}

#bg-footer{
  background-color: #23272A;
}

.f-column-left{
  flex-basis: 30%;
  min-height: 500px;
  background-color: palevioletred;
}

.f-column-right{
  flex-basis: 70%;
  min-height: 500px;
  background-color: blue;
}

.f-subcolumn{
  flex-basis: 25%;
  border: 1px dashed white;
}

.f-final{
  background-color: aqua;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: gray;
  border: 1px solid black;

}

/* utilities */
.d-flex{
  display: flex;
}

.fb-25{
  flex-basis: 25%;
}

.button{
  border-radius: 30px;
  padding: 15px;
}

.separator{
  border: 1px solid black;
  margin: 20px 0;
}

.border-dashed{
  border: 2px dashed black;
}

.font-1_3{
  font-size: 1.3rem;
}

.section-paragraphs{
  font-size: 1.3rem;
  margin: 20px 0;
  line-height: 25px;
}

.section-title{
  font-size: 2.8rem;
}